#username{
    background-color:black;
    color:white;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    padding-right: 30px;
    margin: 0;
    font-family: Chalkduster, fantasy;
}

#container{
    float: left;
    width: 100%;
    clear: both;
    margin: 20px;
    padding-bottom: 0px;
}

#todoApp{
    display: none;
    width: 100%;
}

#todoTitle{
    margin-left: 10%;
    padding: 10px;
    font-size: 18px;
}

#addTitle{
    float: left;
    border: 1px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10px;
    width: 20%;
}

#addTitleBtn{
    float: left;
    margin: 10px;
    padding: 10px;
}

#tag{
    float: left;
    margin-left: 10%;
    padding: 10px;
    font-size: 18px;
}

#txtItem, #txtAuthor {
    float: left;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
    width: 20%;
}

#addBtn, #revBtn{
    float: left;
    margin: 10px;
    padding: 10px;
}

table {
    border: 1px solid black;
    font-size: 14px;
    border-collapse: collapse;
    margin-left:10%;
    
    width: 40%;

}

tr, td, th{
    
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 10%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}


body{
    background-color: antiquewhite;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 10%;
}

#main {
    transition: margin-left .5s;
    padding-left: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}